body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gamecontainerImage {
    background-image: url("https://media.istockphoto.com/photos/suburb-asphalt-road-and-green-field-picture-id612654188?k=20&m=612654188&s=612x612&w=0&h=gDzHAmHQ9wZ0a-MKF1-qNbHphZLxp2Ep8P-cPQX3uGc=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.car {
    background-image: url('https://th.bing.com/th/id/R.be27364f544b75724742096c80ce1a19?rik=xknPmZuwDdXusA&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fcar-image-transparent-background%2fcar-image-transparent-background-12.png&ehk=%2boTaONnqbE8sQGPC65HwCD8xKB7idGXvL54LcsE5%2fYA%3d&risl=&pid=ImgRaw&r=0');
    height: 9%;
    width: 13%;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left:5%;
}

.obstacle{
    background-color: black;
    height: 7%;
    width: 10%;
    position:absolute;
    bottom:0;
    left:40vw;
}

.obstacleAni{
    animation: obstacleAni 1s linear infinite;
}

@media (max-width: 767px) {
    .car {
        height: 5%; /* Change height for smaller screens */
        width: 30%; /* Change width for smaller screens */
        left: 5%; /* Adjust the left position for smaller screens */
    }
    .obstacle{
        height: 3%; /* Change height for smaller screens */
        width: 25%; /* Change width for smaller screens */
        left:73vw;
    }
    .obstacleAni{
        animation: obstacleAni 0.9s linear infinite;
    }
}




.animatecar{
    animation: car 0.6s linear;
}

@keyframes car{
    0%{
        bottom:0;
    }
    50%{
        bottom: 300px;
    }0%{
        bottom: 0;
    }
}
@keyframes obstacleAni{
    0%{
        left:100vw;
        background-color: red;
    }
    100%{
        left:-5vw;
    }
}